<div class="panel panel-default bootstrap-basic">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-credit-card" aria-hidden="true"></i> 
Donate</h3>
  </div>
  <form class="panel-body">
    <div class="row">
      <div class="form-group col-xs-8">
        <label class="control-label">Amount ($40 pays for a person's stay for a night)</label>
          <div class="form-control" id="amount" name='amount' type='text' size='40'></div>
      </div>
      <div class="field form-group col-xs-4">
        <label class="hosted-fields--label" for="organization_id">Organization</label>
        <div>
          <%= select_tag 'organization_id', options_from_collection_for_select(organizations, "id", "name") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-8">
        <label class="control-label">Card Number</label>
        <!--  Hosted Fields div container -->
        <div class="form-control" id="card-number"></div>
        <span class="helper-text"></span>
      </div>
      <div class="form-group col-xs-4">
        <div class="row">
          <label class="control-label col-xs-12">Expiration Date</label>
          <div class="col-xs-6">
            <!--  Hosted Fields div container -->
            <div class="form-control" id="expiration-month"></div>
          </div>
          <div class="col-xs-6">
            <!--  Hosted Fields div container -->
            <div class="form-control" id="expiration-year"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <label class="control-label">Security Code</label>
        <!--  Hosted Fields div container -->
        <div class="form-control" id="cvv"></div>
      </div>
      <div class="form-group col-xs-6">
        <label class="control-label">Zipcode</label>
        <!--  Hosted Fields div container -->
        <div class="form-control" id="postal-code"></div>
      </div>
    </div>

    
    <button value="submit" id="submit" class="btn btn-primary btn-lg pull-right">Pay with <span id="card-type">Card</span></button>
  </form>

<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.5.0/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.5.0/js/hosted-fields.min.js"></script>

<script>
var authorization = '<%= client_token %>';
var form = document.querySelector('#checkout-form');
var submit = document.querySelector('input[type="submit"]');

braintree.client.create({
  authorization: authorization
}, function (clientErr, clientInstance) {
  if (clientErr) {
    console.log("-----Client Creation error----")
    console.log(clientErr)
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14pt'
      },
      'input.invalid': {
        'color': 'red'
      },
      'input.valid': {
        'color': 'green'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019'
      }
    }
  }, function (hostedFieldsErr, hostedFieldsInstance) {
    if (hostedFieldsErr) {
      // Handle error in Hosted Fields creation
      console.log("-----Hosted Fields Error----")
      console.log(hostedFieldsErr)
      return;
    }

    submit.removeAttribute('disabled');

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
          if (tokenizeErr) {
            console.log("-----Hosted Fields tokenization error----")
            console.log(tokenizeErr)
            return;
          }

          // Put `payload.nonce` into the `payment-method-nonce` input, and then
          // submit the form. Alternatively, you could send the nonce to your server
          // with AJAX.
          console.log("--------PAYLOAD---------")
          console.log(payload)
          document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
          form.submit();
        });
      }, false);

  });
});
</script>
