<div class="">
  <div class="field form-group">
    <h2><%= "Welcome #{@client.informal_name}!" %></h2>
  </div>

  <div class="field form-group">
    <%= image_tag @client.client_profile.avatar.url, :size => '300x300' %>
  </div>

  <%= render partial: 'form', locals: { client: @client } %>
</div>
