<header>
	<h1>Housing First</h1>
</header>

<h2>Are you a CoC provider assisting homeless populations?</h2>
<p>Housing First strives to streamline intake and communication between service providers.</p>
<ul>
	<li><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default", role: 'button' %></li>
	<li><%= link_to "Log In", new_user_session_path %></li>
	<li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
</ul>

<h2>Other things that should be on the landing page....</h2>
<ul>
	<li>Form for concerned citizen to alert service providers of someone who needs care</li>
	<li>Info about what housing first service does</li>
</ul>

<%= render 'maps' %>
