<div class="jumbotron">
  <h1>Get Help</h1>
  <p>Resources to help you live with dignity.</p>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Utilities</h3>
      <p class="card-text">Get help catching up on utility bills.</p>
      <a href="https://www.detroitwaterproject.org/" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Housing</h3>
      <p class="card-text">Get help finding stable housing.</p>
      <a href="helps/new?help_type=housing" class="btn btn-primary">Find Support</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Abuse</h3>
      <p class="card-text">Get help getting away from your pyscho ass baby-dady.</p>
      <a href="helps/new?help_type=abuse" class="btn btn-primary">Find Support</a>
    </div>
  </div>
</div>
