<div class="page-title">
  <div class="title_left">
    <h3>Create Organization</h3>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tell Us About Your Organization</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="wizard" class="form_wizard wizard_horizontal">
          <ul class="wizard_steps">
            <li>
              <a href="#step-1">
                <span class="step_no">1</span>
                <span class="step_descr">
                                              Step 1<br />
                                              <small>Organization Name</small>
                                          </span>
              </a>
            </li>
            <li>
              <a href="#step-2">
                <span class="step_no">2</span>
                <span class="step_descr">
                                              Step 2<br />
                                              <small>Address & Contact</small>
                                          </span>
              </a>
            </li>
            <li>
              <a href="#step-3">
                <span class="step_no">3</span>
                <span class="step_descr">
                                              Step 3<br />
                                              <small>Services</small>
                                          </span>
              </a>
            </li>
            <li>
              <a href="#step-4">
                <span class="step_no">4</span>
                <span class="step_descr">
                                              Step 4<br />
                                              <small>Service Criteria</small>
                                          </span>
              </a>
            </li>
          </ul>

          <div id="step-1">
            <div class="container">
              <form class="form-horizontal form-label-left" style="margin-top:10px;margin-bottom:10px;">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Organization Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="name" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
              </form>
            </div>

          </div>
          <div id="step-2" style="display: none">
            <div class="container">
              <form class="form-horizontal form-label-left">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="street_1">Street <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="street_1" name="street_1" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="street_2"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="street_2" class="form-control col-md-7 col-xs-12" type="text" name="street_2">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"></div>
                  <div class="col-md-2 col-sm-2 col-xs-12">
                    <input id="city" class="form-control col-md-7 col-xs-12" type="text" name="city" placeholder="ex. Los Angeles">
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-12">
                    <select class="select2_single form-control">
                      <option></option>
                      <% Address::STATE_MAP.each do |abbreviation, full| %>
                          <option value="<%= abbreviation %>"><%= full %></option>
                      <% end %>
                    </select>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-12">
                    <input id="city" class="form-control col-md-7 col-xs-12" type="text" name="zip" placeholder="ex. 90210">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="step-3" style="display: none">
            <h2 class="StepTitle">Step 3 Content</h2>
            <p>
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div id="step-4" style="display: none">
            <h2 class="StepTitle">Step 4 Content</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#wizard').smartWizard({
      hideButtonsOnDisabled: true,
      reverseButtonsOrder: true,
      onFinish:onFinishCallback
    });

    function onFinishCallback(objs, context){
      if(validateAllSteps()){
        $('form').submit();
      }
    }

    $('.buttonNext').addClass('btn btn-success');
    $('.buttonPrevious').addClass('btn btn-primary');
    $('.buttonFinish').addClass('btn btn-default');
  });
</script>
