<h1>Editing Clients Organization</h1>

<%= render 'form', clients_organization: @clients_organization %>

<%= link_to 'Show', @clients_organization %> |
<%= link_to 'Back', clients_organizations_path %>
