// COLOR LIBRARY

$light-teal: #D7F9F1;
$dark-teal: #4EA699;
$dark-sea-green: #8ACB88;
$rust: #C57B57;

$darker-teal: #326273;

$light-gray: #EEEEEE;
$white: #fff;
$rusty-orange: #E39774;

$dark-burgundy: #31081F;
$bright-teal: #46B1C9;
$terra-cotta: #ED6A5A;
$pearl: #EDD8C7;
$deep-purple: #590E38;

$glitter-gray: #E5ECF4;
$blueish: #ADD2C2;

$grayish-blue: #9DB4C0;
$lighter-gray-blue: #C2DFE3;

$jesus-gray: #E0E0E0;
$purplish: #885053;

// LAYOUT

$body-bg: $jesus-gray;
$header-bg: $grayish-blue;

// BUTTONS

$btn-primary-bg: $deep-purple;
$btn-default-bg: $deep-purple;
$btn-hover: $purplish;
$btn-border: $dark-burgundy;

// CARDS

$card-background: $light-gray;
$card-border: $darker-teal;

