// COLOR LIBRARY

$light-teal: #D7F9F1;
$dark-teal: #4EA699;
$dark-sea-green: #8ACB88;
$rust: #C57B57;

$darker-teal: #326273;

$light-gray: #EEEEEE;
$white: #fff;
$rusty-orange: #E39774;

$dark-burgundy: #31081F;
$bright-teal: #46B1C9;
$terra-cotta: #ED6A5A;
$pearl: #EDD8C7;
$deep-purple: #590E38;

// LAYOUT

$body-bg: lighten($pearl, 10%);
$header-bg: $deep-purple;
$site-title: $pearl;

// BUTTONS

$btn-primary-bg: $deep-purple;
$btn-default-bg: $deep-purple;
$btn-hover: $terra-cotta;
$btn-border: $dark-burgundy;

// CARDS

$card-background: lighten($rusty-orange, 10%);
$card-border: $darker-teal;

