$light-teal: #D7F9F1;
$dark-teal: #4EA699;
$dark-sea-green: #8ACB88;
$rust: #C57B57;

$darker-teal: #326273;


$light-gray: #EEEEEE;
$white: #fff;
$rusty-orange: #E39774;

$dark-burgundy: #31081F;
$bright-teal: #46B1C9;

$terra-cotta: #ED6A5A;
$pearl: #EDD8C7;
$deep-purple: #590E38;

$body-bg: $pearl;
$header-bg: $terra-cotta;
$btn-primary-bg: $deep-purple;
$btn-default-bg: $deep-purple;
$btn-hover: $terra-cotta;
