.ghbase {
  header {
    margin-bottom: 2em;
    padding-top: 1em;
    background-color: $header-bg;
  }

  .navbar-brand {
    font-size: 3em;
    color: $site-title;
    font-family: $fancy-font;
  }
}
