<p id="notice"><%= notice %></p>

<div>
  <p>
    <strong>Name:</strong>
    <%= @organization.name %>
  </p>
</div>

<div>
  <p>
    <strong>Services:</strong>
    <%= @organization.name %>
  </p>
</div>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
