<nav class="navbar">
  <div class="container-fluid">
  	<div class="navbar-header">
  		<%= link_to "Housing First", root_path, class: "navbar-brand" %>
  	</div>
  	<div id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
			  <li role="presentation" class="pull-right"><%= link_to "Log In", new_user_session_path %></li>
			</ul>
		</div>
	</div>
</nav>

