<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Globalhack</title>
    <%= render partial: 'layouts/common_header' %>
  </head>

  <body class="ghbase">
    <header>
      <%= render 'layouts/nav_bar'%>
    </header>
    <div class="container">
      <%= render 'layouts/alert_notices' %>
      <%= yield %>
    </div>
  </body>
</html>
